@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toshokan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-area="" asp-page="/Index">Toshokan Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("isLoggedIn") == "true")
                        {
                            @if (Context.Session.GetString("userRole") == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Books/Index">Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Librarians/Index">Librarians</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Members/Index">Members</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Loans/Index">Loans</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Reservations/Index">Reservations</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Pendings/Loans">Loans</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Pendings/Reservations">Reservations</a>
                                </li>
                            }
                            
                            <li class="nav-login">
                                @if (Context.Session.GetString("userRole") != "Admin")
                                {
                                    <a class="btn btn-secondary mx-3" asp-area="" asp-page="/Accounts/EditInfo">Edit Profile</a>
                                }
                                <a class="btn btn-danger" asp-area="" asp-page="/Accounts/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <div class="nav-login">
                                <li>
                                    <a class="btn btn-primary" asp-area="" asp-page="/Accounts/Login">Member Login</a>
                                </li>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted position-fixed bottom-0 w-100 bg-light">
        <div class="container d-flex justify-content-between">
            <span>&copy; 2024 - Toshokan Library - Nhom9NET</span>
            @if (Context.Session.GetString("isLoggedIn") == "true")
            {
                @if (Context.Session.GetString("userRole") == "Admin")
                {
                    @: Manage Mode enabled
                }
                else
                {
                    <div></div>
                }
            }
            else
            {
                <a class="text-muted" asp-area="" asp-page="/Accounts/AdminLogin">Login to Management Portal</a>
            }
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>