@page
@model toshokan.Pages.Accounts.LoginModel
@{
    ViewData["Title"] = "Member Login";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2>Member Login</h2>
    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger w-50" role="alert">
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <span>@error.ErrorMessage</span>
                }
            }
        </div>
    }
    <div class="col-md-4" >
        <form method="post">
            <div class="form-group">
                <label asp-for="Members.Username" class="control-label"></label>
                <input asp-for="Members.Username" class="form-control" />
                <span asp-validation-for="Members.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Members.Password" class="control-label"></label>
                <input type="password" asp-for="Members.Password" class="form-control" />
                <span asp-validation-for="Members.Password" class="text-danger"></span>
            </div>
            <div class="form-group login-container">
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>       
        </form>
    </div>
    <br />
    <span>
        Don't have an account? <a class="text-dark" asp-area="" asp-page="/Accounts/Register">Register Here</a>
    </span>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}