@page
@model toshokan.Pages.Loans.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Loan.LoanID" />
            <div class="form-group">
                <label asp-for="Loan.Book" class="control-label"></label>
                <select asp-for="Loan.Book" class="form-control" asp-items="@Model.BookList">
                    <option value="">-- Select a Book --</option>
                </select>
                <span asp-validation-for="Loan.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan.Member" class="control-label"></label>
                <select asp-for="Loan.Member" class="form-control" asp-items="@Model.MemberList">
                    <option value="">-- Select member --</option>
                </select>
                <span asp-validation-for="Loan.Member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan.LoanDate" class="control-label"></label>
                <input asp-for="Loan.LoanDate" class="form-control" />
                <span asp-validation-for="Loan.LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan.ReturnDate" class="control-label"></label>
                <input asp-for="Loan.ReturnDate" class="form-control" />
                <span asp-validation-for="Loan.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Loan.Returned" /> @Html.DisplayNameFor(model => model.Loan.Returned)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
